@import './variables';

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100%;
    position: relative;
    overflow-x: auto;
    display: flex;
}

.app > div {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(250, 145, 97, 0.7), rgba(247, 59, 28, 0.69));
}

.questions {
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.result {
    height: 18px;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}
