@mixin can-toggle-branding(
    $can-toggle-off-color: gray, 
    $can-toggle-on-color: gray,
    $can-toggle-inactive-text: white,
    $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {
    
    input[type="checkbox"] {
        &:checked {
            ~ label {
                &:hover {
                    color: darken($can-toggle-on-color, 20%);
                }
                
                .can-toggle__switch {
                    &:after {
                        color: $can-toggle-on-color;
                    }
                }
            }
        }
        &:hover {
            ~ label {
                .can-toggle__switch {
                    &:after { color: darken($can-toggle-on-color, 20%); }
                }
            } 
        }
    }
    
    label {
        
        .can-toggle__label-text { flex: 1; }
        
        .can-toggle__switch {
            font-weight: bold;
            transition: background-color 0.3s $can-toggle-transition, color 0.3s $can-toggle-transition;
            &:before {
                color: $can-toggle-inactive-text;
            }
            &:after {
                transition: transform 0.3s $can-toggle-transition;
                color: $can-toggle-off-color; 
            }
        }
        
    }
}

@mixin can-toggle-appearance 
( 
    $can-toggle-width: 168px,
    $can-toggle-height: 72px,
    $can-toggle-border-radius: 8px,
    $can-toggle-offset: 4px,
    $can-toggle-label-font-size: 14px,
    $can-toggle-switch-font-size: 12px,
    $can-toggle-shadow: 0 6px 6px rgba(black, 0.4)
){
    $can-toggle-switch-width: $can-toggle-width/2;
    
    input[type="checkbox"] {

        &:focus ~ label, &:hover ~ label {
            .can-toggle__switch {
                &:after { box-shadow: $can-toggle-shadow; } 
            }
        }
        
        &:checked {
            ~ label {
                .can-toggle__switch {
                    &:after { transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0); }    
                }
            }
            &:focus, &:hover {
                ~ label {
                    .can-toggle__switch { &:after { box-shadow: $can-toggle-shadow; } }
                } 
            }
        }
    }
    
    label {
        font-size: $can-toggle-label-font-size;
        
        .can-toggle__switch {
            height: $can-toggle-height;
            flex: 0 0 $can-toggle-width;
            border-radius: $can-toggle-border-radius;
            
            &:before {
                left: $can-toggle-width/2;
                font-size: $can-toggle-switch-font-size; 
                line-height: $can-toggle-height;
                width: $can-toggle-width/2;
                padding: 0 12px;
            }
            
            &:after {
                top: $can-toggle-offset; left: $can-toggle-offset;
                border-radius: $can-toggle-border-radius/2;
                width: $can-toggle-switch-width - $can-toggle-offset; 
                line-height: $can-toggle-height - ($can-toggle-offset*2);
                font-size: $can-toggle-switch-font-size;
            }
            
            &:hover {
                &:after { box-shadow: $can-toggle-shadow; }
            }
        } 
    }
}



.can-toggle {
    position: relative;
    *, *:before, *:after { box-sizing: border-box; }
    
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        top: 0; left: 0;
        
        &[disabled] ~ label {
            pointer-events: none;
            .can-toggle__switch { opacity: 0.4; }
        }
        
        &:checked {
            ~ label {
                
                .can-toggle__switch {
                    
                    &:before {
                        content: attr(data-unchecked);
                        left: 0;
                    }
                
                    &:after {
                        content: attr(data-checked);
                    }    
                }
            }
        }
    }
    
    label {
        cursor: pointer;
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
        
        .can-toggle__label-text { 
            flex: 1;
            padding-left: 32px;
        }
        
        .can-toggle__switch {
            position: relative;
            
            &:before {
                content: attr(data-checked);
                position: absolute;
                top: 0;
                text-transform: uppercase;
                text-align: center;
            }
            
            &:after {
                content: attr(data-unchecked);
                position: absolute;
                z-index: 5;
                text-transform: uppercase;
                text-align: center;
                background: white;
                transform: translate3d(0,0,0);
            }

        }
        
    }
    
    &.checkbox {
        margin: 5px 0;
        border: 1px solid white;
        border-radius: 60px;
        @include can-toggle-branding
        (
            gray,    // Off state color
            gray,    // On state color
            white,    // Off state text color
            cubic-bezier(0.860, 0.000, 0.070, 1.000)    // Transition timing function
        );
        @include can-toggle-appearance
        (
            400px, // Toggle width
            45px,    // Toggle height
            120px,     // Toggle border radius
            0px,     // Offset (distance btw switch and box)
            16px,    // Label font size
            16px,    // Switch font size
            0 8px 8px rgba(black, 0.4) // Switch shadow on hover/focus
        ); 
    }
    
}